langchain>=0.3.27,<0.4.0
langchain-community>=0.3.31,<0.4.0
langchain-openai>=0.3.35,<0.4.0
langchain-huggingface>=0.3.1,<0.4.0
langchain-chroma>=0.2.6,<0.3.0
chromadb>=1.4.1,<1.5.0
llama-cpp-python>=0.3.7,<0.4.0

fastapi>=0.128.0,<0.129.0
uvicorn>=0.40.0,<0.41.0
websockets>=16.0,<17.0

python-dotenv>=1.2.1,<2.0.0
pywinauto>=0.6.9,<0.7.0
pillow>=12.1.0,<13.0.0
pytesseract>=0.3.13,<0.4.0
playwright>=1.57.0,<1.58.0
pyautogui>=0.9.54,<0.10.0
pyperclip>=1.11.0,<2.0.0
pandas>=3.0.0,<3.1.0
openpyxl>=3.1.5,<3.2.0
sentence-transformers>=5.2.2,<6.0.0

